{** block-description:render_small_banner_2 **}
{foreach from=$items item="banner" key="key"}
    <div class="xlarge-6 large-6 columns hide-for-medium-down">
        <a href=""><img src="templates/images/tlb_bags_en.jpg" style="height:60px" alt="Top deals on bags"></a>
    </div>
    {*{if $banner.type == "G" && $banner.main_pair.image_id}
    <div class="ty-banner__image-wrapper">
        {if $banner.url != ""}<a href="{$banner.url|fn_url}" {if $banner.target == "B"}target="_blank"{/if}>{/if}
        {include file="common/image.tpl" images=$banner.main_pair image_auto_size=true}
        {if $banner.url != ""}</a>{/if}
    </div>
    {else}
        <div class="ty-wysiwyg-content">
            {$banner.description nofilter}
        </div>
    {/if}*}
{/foreach}