{** block-description:render_small_banner_1 **}
{foreach from=$items item="banner" key="key"}
    <div class="xlarge-6 large-6 columns" style="line-height:50px;">
        <div class="panel callout-panel dod-callout">
            <a href="" class="row text-center block">
                <div class="small-6 medium-4 columns" style=" margin-top:-5px !important;">
                    <img src="templates/images/deals-en2.png" alt="">
                </div>
                <div class="medium-5 columns hide-for-small-only">
                    <img src="templates/images/DOD-240217-features-3.gif" alt="">
                </div>
                <div class="small-6 medium-3 columns">
                    <div class="small button alert tiny" style="background-color: #252933;
                         background-image: -webkit-gradient(linear,right top,right bottom,from(#252933),to(#252933));
                         background-image: -webkit-linear-gradient(top,#252933,#252933); height:30px; margin-top:9px; padding-top:2px;">Shop Now</div>
                </div>
            </a>
        </div>
    </div>
    {*{if $banner.type == "G" && $banner.main_pair.image_id}
    <div class="ty-banner__image-wrapper">
        {if $banner.url != ""}<a href="{$banner.url|fn_url}" {if $banner.target == "B"}target="_blank"{/if}>{/if}
        {include file="common/image.tpl" images=$banner.main_pair image_auto_size=true}
        {if $banner.url != ""}</a>{/if}
    </div>
    {else}
        <div class="ty-wysiwyg-content">
            {$banner.description nofilter}
        </div>
    {/if}*}
{/foreach}