@media screen and (min-width:80em) {
    .market-box .slick-next {
        right: 25px;
    }

    .market-box .slick-prev {
        left: 25px;
    }

    .tabs-content .slick-slider .slick-list {
        margin-left:10px !important;
    }

    .tabs-content .slick-prev {
        left: 5px;
    }
    .footer-links li a{
        line-height:22px !important;
    }
    
    body {
        font-family: sans-serif;
    }
}